@charset "utf-8";

#navigation{
    border: 3px solid #000;
    width: 10vw;
    position: absolute;
}
#TOPimage{
    border: #000 solid 3px;
    height: 30vh;
    display: inline-block;
}
#menu{
    position: fixed;
}
#main{
    position: absolute;
    left: 15vw;
}
#menuH{
    background-color: rgb(0, 251, 255);
}
#menuH2{
    background-color: rgb(0, 255, 123);
}
.bodyimg{
    background-image: url("./img/background.png");
    text-align:center;
}
.greeen{
    background: #fff200;
    border: #000 double 5px;
    display: inline-block;
}
#about{
    width: 800px;
}
.legrstit{
	font-size:300%;
    font-weight: 500;
	margin: 0 auto;
}
.redColor{
    color: red;
    font-size: 4vh;
}
#prof{
    border: #000 solid 3px;
    text-align: left;
}
.bigmoji{
    
    color: red;
    font-size: 50px;
}
.hidari{
    text-align: left;
}
.namee{
    font-weight: 700;
}
.namee2{
    font-size: 15px;
}