nav{
text-align: center;
}
nav ul{
margin: 0 ;
padding: 0 ;
}
nav ul li{
list-style: none;
display: inline-block;
width: 18%;
min-width: 90px;
}
nav ul li a{
text-decoration: none;
color: #333;
}
nav ul li.current a{
color: #F33135;
}
nav ul li a:hover{
color: #E7DA66;
}
HTML
<nav>
<ul>
<li class=”current”><a href=”#”>Home</a></li>
<li><a href=”#”>News</a></li>
<li><a href=”#”>About</a></li>
<li><a href=”#”>Access</a></li>
<li><a href=”#”>Blog</a></li>
</ul>
</nav>
