h2 {
  padding: 1rem 2rem;
  border-left: 5px solid #aaa;
  background: #f4f4f4;
}
a {
    text-decoration:none; 
}
nav{
    background-color: #eeeeee;
    height: 48px;
}
nav{
border-bottom: 5px solid #ccc;
position: relative;
}
nav ul{
position: absolute;
left:10%;
display: table;
margin: 0 auto;
padding: 0;
width: 80%;
text-align: center;
  font-size: 15px
}
nav ul li{
display: table-cell;
min-width: 50px;
transition: all 300ms 0s ease;
}
nav ul li a{
display: block;
width: 100%;
height: 100%;
padding: 10px 0;
text-decoration: none;
color: #aaa;
  
    transition: all 300ms 0s ease;
}
nav ul li.current{
font-weight: bold;
border-top: 5px solid #00B0F0;
}
nav ul li.current a{
color: #00B0F0;
}
nav ul li a:hover{
color: #ffffff;
background-color: #ccccff;

}
nav ul li:hover{
border-top: 5px solid #88aaff;
    transition: all 50ms 0s ease;
}
